<a href="https://colab.research.google.com/github/Architsi/Ecommerce/blob/master/MIQ_CPG_Sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing data

In [26]:
sales_header = ['store_id','date_of_sale','product','sales_qty']
sales = pd.read_csv("sales.csv", delimiter="\t", names = sales_header )
sales.head()

   store_id date_of_sale   product  sales_qty
0        86   2019/05/23  ProductA          1
1       212   2019/05/24  ProductA          1
2       371   2019/05/18  ProductA          0
3       505   2019/05/19  ProductA          0
4       622   2019/05/20  ProductA          0

In [62]:
stores_header = ['store_id','city','state','zip']
stores = pd.read_csv("stores.csv", delimiter="\t", names = stores_header )
stores.head()

   store_id         city state    zip
0        37   FARMINGTON    MO  63640
1      2284    NAUGATUCK    CT   6770
2      2274  FOREST LAKE    MN  55025
3      4368        OCALA    FL  34472
4      2102    LUDINGTON    MI  49431

In [25]:
supply_header = ['year_month','city','supply_qty']
supply = pd.read_csv("supply.csv", delimiter="\t", names = supply_header )
supply.head()

  year_month        city  supply_qty
0    2019-05    GALLIANO         110
1    2019-05   BRADENTON          85
2    2019-05  WINCHESTER         130
3    2019-05     LABELLE         107
4    2019-05      EASTON          95

Basic data checks on the data files

In [20]:
print("Shape of sales data - " + str(sales.shape))
print("Null value distribution\n" + str(sales.isnull().sum()))

Shape of sales data - (865767, 4)
Null value distribution
store_id        0
date_of_sale    0
product         0
sales_qty       0
dtype: int64

In [55]:
print("Shape of stores data - " + str(stores.shape))
print("Null value distribution\n" + str(stores.isnull().sum()))

Shape of stores data - (4365, 4)
Null value distribution
store_id    0
city        0
state       0
zip         0
dtype: int64

In [28]:
print("Shape of supply data - " + str(supply.shape))
print("Null value distribution\n" + str(supply.isnull().sum()))

Shape of supply data - (7443, 3)
Null value distribution
year_month    0
city          0
supply_qty    0
dtype: int64

## EDA on the data files

Checking for duplicate values in the stores database

In [32]:
stores['store_id'].nunique()

4363

In [67]:
stores[stores['store_id'].isin(stores['store_id'][stores['store_id'].duplicated(keep=False)])]

      store_id                city state    zip
249       5192            ANTELOPE    CA  95842
356        714  HELENA-WEST HELENA    AR  72390
2908      5192            ANTELOPE    CA  95843
3893       714         WEST HELENA    AR  72390

Two duplicates found in the stores schema

In [64]:
stores = stores.drop_duplicates(ignore_index=False)